<div class="login">
	<div class="wrap">
		<div class="col_1_of_login span_1_of_login"></div>
		<div class="col_1_of_login span_1_of_login">
			<div class="login-title">
				<h4 class="title">Sign in to start your session</h4>
				<div class="comments-area">
					<form name="form" role="form" method="post">
						<p>
							<label>Username</label> <span>*</span>
							<input type="text" placeholder="Username" ng-model="securityCtrl.username" required="required" />
						</p>
						<p>
							<label>Password</label> <span>*</span>
							<input type="password" placeholder="Password" ng-model="securityCtrl.password" required="required" />
						</p>
						<p>
							<input type="button" value="Login" ng-click="securityCtrl.login()"/>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>