<section class="content-header">
	<h1>Product<small>control panel</small></h1>
	<ol class="breadcrumb">
        <li><button type="button" ng-click="catalogCtrl.add()" class="btn btn-sm btn-info">
        	<i class="glyphicon glyphicon-plus"></i>&nbsp;Add New
        </button></li>
	</ol>
</section>
<section class="content">
	<div class="row"><div class="col-xs-12">
		<div class="box">
			<div class="box-header"></div>
			<div class="box-body">
				<table id="table" class="table table-bordered table-striped table-hover table-condensed">
					<thead style="background-color: #31b0d5;"><tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Catalog Products</th>
					</tr></thead>
					<tbody><tr ng-repeat="catalog in catalogCtrl.catalogs">
						<td>{{catalog.startDate}}</td>
						<td>{{catalog.endDate}}</td>
						<td><table id="table" class="table table-bordered table-striped table-hover table-condensed">
							<tbody><tr ng-repeat="catalogProduct in catalog.catalogProducts">
								<td>{{catalogProduct.productName}}</td>
								<td>{{catalogProduct.quantity}}</td>
								<td>{{catalogProduct.price}}</td>
							</tr></tbody>
						</table></td>
					</tr></tbody>
				</table>
			</div>
		</div>
	</div></div>
</section>