<section class="content-header">
	<h1>Product<small>control panel</small></h1>
	<ol class="breadcrumb">
        <li><button type="button" ng-click="productCtrl.add()" class="btn btn-sm btn-info">
        	<i class="glyphicon glyphicon-plus"></i>&nbsp;Add New
        </button></li>
	</ol>
</section>
<section class="content">
	<div class="row"><div class="col-xs-12">
		<div class="box">
			<div class="box-header"></div>
			<div class="box-body">
				<table id="table" class="table table-bordered table-striped table-hover table-condensed">
					<thead style="background-color: #31b0d5;"><tr>
						<th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
					</tr></thead>
					<tbody><tr ng-repeat="product in productCtrl.products">
						<td>{{product.productId}}</td>
						<td>{{product.productName}}</td>
						<td>{{product.productDescription}}</td>
						<td>{{product.categoryName}}</td>
					</tr></tbody>
				</table>
			</div>
		</div>
	</div></div>
</section>
