<div class="modal-header">
  <h1>Your selected things </h1>
</div>

<div class="wrap megamenu">
	<div class="modal-body" ng-init=$ctrl.init()>
	<div ng-if="$ctrl.baggedItems.length > 0">
	<table class="table table-condensed table-striped table-bordered table-hover no-margin">
    <thead>
      <tr>
        <th style="width:20%">Item</th>
        <th style="width:40%" class="hidden-phone">Description</th>
        <th style="width:10%" class="hidden-phone">Quantity</th>
        <th style="width:15%" class="hidden-phone">Price</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="item in $ctrl.baggedItems | filter: search | filter: size | orderBy:orderProp">
       <td>{{item.name}}</td>
       <td>{{item.description}}</td>
       <td><select name="selectedQuantity" id="selectedQuantity" ng-model="item.selectedQuantity"
		        ng-options="option as option for option in $ctrl.quantity" ng-change="$ctrl.pricecompute(item)">
		      </select>
		</td>
		<td>{{item.totalPrice}}</td>
     </tr>
    </tbody>
    </table> 
	</div>
		<div ng-if="$ctrl.baggedItems.length == 0">
		 No items selected!
		</div>
	</div>
	
</div>
<div class="modal-footer">
    <div class="btn btn-primary btn-sm" ng-click="$ctrl.ok($ctrl.baggedItems)">Confirm Order</div>
    <div class="btn btn-warning btn-sm" ng-click="$ctrl.cancel()">Cancel</div>
</div>
