<section id="cart_items">
	<div class="container">
		<div class="shopper-informations">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-5 clearfix">
					<div class="bill-to">
						<p></p>
						<div class="form-one">
							<form><a class="btn btn-default update" href ng-click="checkoutCtrl.saveOrder()">Confirm Order</a></form>
						</div>
						<div class="form-two">
							<form>
								<select class="form-control" required="required" ng-model="checkoutCtrl.locationId" ng-change="checkoutCtrl.landmarksByLocation()">
									<option>--- Location ---</option>
									<option ng-repeat="location in checkoutCtrl.locations" value="{{location.locationId}}">{{location.locationName}}</option>
								</select>
								<select class="form-control" required="required" ng-model="checkoutCtrl.landmark">
									<option>--- Landmark ---</option>
									<option ng-repeat="landmark in checkoutCtrl.landmarks" value="{{landmark.locationId}}">{{landmark.value1}} - {{landmark.value2}}</option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead><tr class="cart_menu">
					<td class="image">Item</td>
					<td class="description"></td>
					<td class="price">Price/Kg</td>
					<td class="quantity">Quantity (in Kg)</td>
					<td class="total">Total</td>
				</tr></thead>
				<tbody><tr ng-repeat="selectedProductItem in selectedProductItems">
					<td class="cart_product"><a href="#"><img src="../../resources/images/product/{{selectedProductItem.productName | lowercase}}.jpg" width="110" height="110"/></a></td>
					<td class="cart_description"><h4><a href="">{{selectedProductItem.productName}}</a></h4></td>
					<td class="cart_price"><p>{{selectedProductItem.price | currency:"₹"}}</p></td>
					<td class="cart_quantity">{{selectedProductItem.quantity}}</td>
					<td class="cart_total"><p class="cart_total_price">{{(selectedProductItem.price * selectedProductItem.quantity) | currency:"₹"}}</p></td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;</td>
					<td colspan="2"><table class="table table-condensed total-result">
						<tr><td>Sub Total</td><td>{{subTotal | currency:"₹"}}</td></tr>
						<tr><td>Eco Tax</td><td>{{tax | currency:"₹"}}</td></tr>
						<tr class="shipping-cost"><td>Shipping Cost</td><td>{{shippingCost | currency:"₹"}}</td></tr>
						<tr><td>Total</td><td><span>{{subTotal + tax + shippingCost | currency:"₹"}}</span></td></tr>
					</table></td>
				</tr></tbody>
			</table>
		</div>
	</div>
</section>