<section id="cart_items">
	<div class="container">
		<div class="shopper-informations">
			<div class="row">
				<div class="col-sm-7">
				<p>My Cart</p>
					<div class="scroll table-responsive cart_info">
						<table class="table table-responsive">
							<thead><tr class="cart_menu">
								<td class="image">Item</td>
								<td class="quantity">KGs</td>
								<td class="total">Total</td>
							</tr></thead>
							<tbody ng-if="selectedProductItems.length != 0"><tr ng-repeat="selectedProductItem in selectedProductItems">
								<td class="cart_product"><a href="#"><img src="../../resources/images/product/{{selectedProductItem.productName | lowercase}}.jpg" width="110" height="110" /></a></td>
								<td class="cart_quantity"><p class="center">{{selectedProductItem.quantity}}</p></td>
								<td class="cart_total"><p class="cart_total_price">{{(selectedProductItem.price * selectedProductItem.quantity) | currency:"₹"}}</p></td>
							</tr><tr class="info">
								<td class="clearfix">Items- {{selectedProductItems.length}}</td>
								<td class="clearfix col-sm-3">Kgs- {{totalQuantity}}</td>
								<td class="clearfix col-sm-5">₹ {{subTotal + tax + shippingCost}}</td>
							</tr></tbody>
							<tbody ng-if="selectedProductItems.length == 0">
								<tr><td><p>No items to display!!</p></td></tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-12">
						<a class="btn btn-default pull-right check_out" href ng-click="checkoutCtrl.saveOrder()"><span>Place Order</span></a>
					</div>
				</div>
				<div class="col-sm-5 clearfix">
				<p>Deliver To</p>
					<div class="bill-to">
						<div class="form-one">
							<form>
								<input type="text" value="{{user.emailId}}" disabled="disabled"> 
								<input type="text" value="{{user.name}}" disabled="disabled">
							</form>
						</div>
						<div class="form-two">
							<form>
								<select required="required" ng-model="checkoutCtrl.locationId" ng-change="checkoutCtrl.landmarksByLocation()">
									<option>--- Location ---</option>
									<option ng-repeat="location in checkoutCtrl.locations" value="{{location.locationId}}">{{location.locationName}}</option>
								</select>
								<select required="required" ng-model="checkoutCtrl.landmark">
									<option>--- Landmark ---</option>
									<option ng-repeat="landmark in checkoutCtrl.landmarks" value="{{landmark.locationId}}">{{landmark.value1}} - {{landmark.value2}}</option>
								</select>
								<input type="text" value="{{user.mobileNo}}" disabled="disabled">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>My Orders</div>
		<div class="table-responsive cart_info scroll">
			<table class="table table-condensed table-striped">
				<thead><tr class="cart_menu">
					<td class="number">Order #</td>
					<td class="date">Order Date</td>
					<td class="items">Total Items</td>
					<td class="status">Status</td>
					<td>&nbsp;</td>
				</tr></thead>
				<tbody><tr ng-repeat="order in checkoutCtrl.orders">
					<td><a href ng-click="checkoutCtrl.openItemsWindow(order)">{{order.orderId}}</a></td>
					<td><a href ng-click="checkoutCtrl.openItemsWindow(order)">{{order.orderedDate}}</a></td>
					<td><a href ng-click="checkoutCtrl.openItemsWindow(order)">{{order.orderedItems.length}}</a></td>
					<td><a href ng-click="checkoutCtrl.openItemsWindow(order)">{{order.status}}</a></td>
					<td class="cart_delete"><a class="cart_quantity_delete" href ng-click="checkoutCtrl.cancelOrder(order, $index)"><i class="fa fa-times"></i></a></td>
				</tr></tbody>
				<tbody ng-if="orders.length == 0">
					<tr><td><div class="col-sm-8">No items in your cart!!</div></td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header header-padding">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><p class="modal-title">Items</p>
				</div>
				<div class="modal-body body-padding">
				<div class="row-fluid">
				<div class="span-12">
					<span class = "label label-default label-background"> Contact-</span><span>{{order.mobileNumber}}</span>
					<span class = "label label-default label-background"> Name-</span><span>{{order.userName}}</span>
					<span class = "label label-default label-background"> Location-</span><span>{{order.locationName}}</span>
					<span class = "label label-default label-background"> Land Mark-</span><span>{{order.landmark1}} {{order.landmark2}} {{order.landmark3}}</span>
				</div>
				</div>
				<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead><tr class="cart_menu">
						<td class="image">Item</td>
						<td class="price">Price/Kg</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
					</tr></thead>
					<tbody><tr ng-repeat="orderItem in order.orderedItems">
						<td class="cart_product"><img src="../../resources/images/product/{{orderItem.productName | lowercase}}.jpg" width="90" height="90" /></td>
						<td class="cart_price">{{orderItem.price | currency:"₹"}}</td>
						<td class="cart_quantity">{{orderItem.quantity}} Kg</td>
						<td class="cart_total"><p class="cart_total_price">{{(orderItem.price * orderItem.quantity) | currency:"₹"}}</p></td>
					</tr></tbody>
				</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>