<div class="wrap">
	<div class="box1">
		<div class="login-title">
			<div style="background-color: #4863A0;" class="modal-header">
				<h4 style="color: #fff;" class="title">Product <small>control panel</small></h4>
			</div>
			<div class="comments-area">
				<div class="modal-body">
					<table id="productTable" class="table table-bordered table-striped table-hover table-condensed">
						 <thead style="background-color: #31b0d5;"><tr>
						 	<th>ID</th>
	                        <th>Name</th>
	                        <th>Description</th>
	                        <th>Category</th>
	                        <th>Availability</th>
	                        <th>Unit Price</th>
						</tr></thead>
						<tbody><tr ng-repeat="product in productCtrl.products">
							<td>{{product.productId}}</td>
							<td>{{product.productName}}</td>
							<td>{{product.productDescription}}</td>
							<td>{{product.categoryName}}</td>
							<td>{{product.stock}}</td>
							<td>{{product.price}}</td>
						</tr></tbody>
					</table>
				</div>
				<div class="modal-footer">
					<input type="button" value="Add Product" ng-click="productCtrl.add()"/>
				</div>
			</div>
		</div>
	</div>
</div>
