	<div class="login-title">
		<div style="background-color: #4863A0;" class="modal-header">
		  <h4 style="color: #fff;" ass="title">Select your delivery contact</h4>
		</div>
		<div class="comments-area">
			<form name="form" role="form" method="post">
			<div class="modal-body">
				<p><input type="text" placeholder="Your Mobile Number" ng-model="$userModalCtrl.mobileNumber" /></p>
				<p align="center">OR</p>
				<p><input type="text" placeholder="Your Email ID" ng-model="$userModalCtrl.emailId" /></p>
			</div>
			<div class="modal-footer">
			    <input type="button" value="Ok" ng-click="$userModalCtrl.ok()"/>
			</div>
			</form>
		</div>
	</div>	
