<section>
	<div class="container">
		<div class="row">
			<div class="category-tab">
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
						<li><a href="#vegetable"  data-toggle="tab">Vegetables</a></li>
						<li><a href="#flower" data-toggle="tab">Flowers</a></li>
						<li><a href="#fruit" data-toggle="tab">Fruits</a></li>
					</ul>
				</div>
				<div class="tab-content">
					<!-- Vegetables -->
					<div class="tab-pane fade active in" id="vegetable">
						<div ng-repeat="vegetable in defaultCtrl.vegetables">
						<div class="col-sm-3">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../resources/images/product/{{vegetable.productName | lowercase}}.jpg" width="315" height="235"/>
										<h2>{{vegetable.price}}</h2>
										<p>{{vegetable.productName}}</p>
										<a href ng-click="defaultCtrl.add2Cart(vegetable)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					
					<!-- Flowers -->
					<div class="tab-pane fade" id="flower">
						<div ng-repeat="flower in defaultCtrl.flowers">
						<div class="col-sm-3">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../resources/images/product/{{flower.productName | lowercase}}.jpg" width="315" height="235"/>
										<h2>{{flower.price}}</h2>
										<p>{{flower.productName}}</p>
										<a href ng-click="defaultCtrl.add2Cart(flower)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					
					<!-- Fruits -->
					<div class="tab-pane fade" id="fruit">
						<div ng-repeat="fruit in defaultCtrl.fruits">
						<div class="col-sm-3">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../resources/images/product/{{fruit.productName | lowercase}}.jpg" width="315" height="235"/>
										<h2>{{fruit.price}}</h2>
										<p>{{fruit.productName}}</p>
										<a href ng-click="defaultCtrl.add2Cart(fruit)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
